In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
data = pd.read_csv('D:/data_analysis_projects/python_projects/sales_data.csv')

#getting familarized with data
print(data.info())
print(data.describe())
print(data.columns)

#cleaning the data
# removing the 1st column *'Unnamed: 0'* as it is not useful
data = data.drop(columns= 'Unnamed: 0', axis=1)
print(data.columns)
print(data.City.head().tolist)
#observed there is space before city name fixing it
data['City'] = data['City'].str.strip()
print(f'fixed city name: \n{data['City'].head()}')
#checking for nulls and droping them
print(data.isnull().sum())
print('***there are no nulls****')
#now checking for duplicated and dropping them in current dataset
print(f'number of duplicated rows before dropping are: {data.duplicated().sum()}')
#droping duplicates
data.drop_duplicates(inplace= True)
print(f'number of duplicated rows after droppingare: {data.duplicated().sum()}')


#extracting columns for further analysis year, month name, weekday, and total_sales
# 1 formating the the order date
data['Order Date'] = pd.to_datetime(data['Order Date'])
data['year'] = data['Order Date'].dt.year
data['Month_Name'] = data['Order Date'].dt.strftime('%B')
data['week'] = data['Order Date'].dt.strftime('%A')
data['Total_Sales'] = data['Quantity Ordered'] * data['Price Each']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185950 entries, 0 to 185949
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        185950 non-null  int64
 1   Order ID          185950 non-null  int64
 2   Product           185950 non-null  object
 3   Quantity Ordered  185950 non-null  int64
 4   Price Each        185950 non-null  float64
 5   Order Date        185950 non-null  object
 6   Purchase Address  185950 non-null  object
 7   Month             185950 non-null  int64
 8   Sales             185950 non-null  float64
 9   City              185950 non-null  object
 10  Hour              185950 non-null  int64
dtypes: float64(2), int64(5), object(4)
memory usage: 15.6+ MB
None
          Unnamed: 0       Order ID  Quantity Ordered     Price Each  \
count  185950.000000  185950.000000     185950.000000  185950.000000
mean     8340.388475  230417.569379          1.124383     184.399735
std      5450.554093   51512.737110          0.442793     332.731330
min         0.000000  141234.000000          1.000000       2.990000
25%      3894.000000  185831.250000          1.000000      11.950000
50%      7786.000000  230367.500000          1.000000      14.950000
75%     11872.000000  275035.750000          1.000000     150.000000
max     25116.000000  319670.000000          9.000000    1700.000000

               Month          Sales           Hour
count  185950.000000  185950.000000  185950.000000
mean        7.059140     185.490917      14.413305
std         3.502996     332.919771       5.423416
min         1.000000       2.990000       0.000000
25%         4.000000      11.950000      11.000000
50%         7.000000      14.950000      15.000000
75%        10.000000     150.000000      19.000000
max        12.000000    3400.000000      23.000000
Index(['Unnamed: 0', 'Order ID', 'Product', 'Quantity Ordered', 'Price Each',
       'Order Date', 'Purchase Address', 'Month', 'Sales', 'City', 'Hour'],
      dtype='object')
Index(['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date',
       'Purchase Address', 'Month', 'Sales', 'City', 'Hour'],
      dtype='object')
<bound method IndexOpsMixin.tolist of 0     New York City
1     New York City
2     New York City
3     San Francisco
4           Atlanta
Name: City, dtype: object>
fixed city name:
0    New York City
1    New York City
2    New York City
3    San Francisco
4          Atlanta
Name: City, dtype: object
Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
Month               0
Sales               0
City                0
Hour                0
dtype: int64
***there are no nulls****
number of duplicated rows before dropping are: 264
number of duplicated rows after droppingare: 0